<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | relative_url }}">
    <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {% for css in page.custom-css %}
    <link href="{{ css | relative_url }}" rel="stylesheet">
    {% endfor %}
    {% seo %}
  </head>
  <body class="d-flex flex-column">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container">
          <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
            {% for item in site.data.navigation %}
                <li class="nav-item{% if page.url == item.link %} active{% endif %}">
                    <a class="nav-link" href="{{ item.link | relative_url }}">{{ item.name }}</a>
                </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <main role="main" class="mb-4">
            {{ content }}
          </main>
        </div>
        <div class="col-md-3 d-none d-md-block">
          <div class="sidebar ">
              <h3>Recent Posts</h3>
              <ul>
                {% for post in site.posts limit:5 %}
                <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-dark text-white mt-auto">
      <p>{{ site.author }} &copy; {{ site.copyright }}</p>
      <p><a href="{{ site.github.repository_url }}">View on GitHub</a></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
    {% for javascript in page.custom-js %}
    <script src="{{ javascript | relative_url }}"></script>
    {% endfor %}
    </body>
</html>